@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root{
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);

    --light-gray: hsl(229, 8%, 60%);
    --dark-gray: hsl(229, 31%, 21%);

    --font: 'Rubik', sans-serif;
}
*{
    text-decoration: none;
    list-style: none;
    font-family: var(--font);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
}

.open-close{
    display: none;
}
.nav-header.open-close{
    display: none;
}

.nav-header{
    display: flex;
    align-items: center;
}

.ul-header{
    display: flex;
    padding-left: 0;
}

.ul-header li{
    margin: 0 15px;
}

.ul-header a{
    color: var(--dark-grey);
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 30px;
    font-weight: 500;
}

.ul-header a:hover{
    color: var(--soft-red);
}
#login{
    border: none;
    background-color: var(--soft-red);
    color: white;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
    box-shadow: 0 0 2px var(--soft-red);
}
#login:hover{
    background-color: white;
    color: var(--soft-red);
    border: 2px solid var(--soft-red);
}

.RS-header{
    display: none;
}

/* simple bookmark */
.simple-bookmark{
    display: flex;
    margin: 100px 0 0 5%;
}

.simple-text{
    width: 60%;
    margin: 0 50px;
}

.simple-text h2{
    color: var(--dark-gray);
    width: 70%;
    font-size: 40px;
    font-weight: 500;
    margin: 0 0;
}

.simple-text p{
    color: var(--light-gray);
    width: 70%;
    margin: 30px 0;
    font-weight: 400;
    line-height: 25px;
}

#btn-chrome{
    background-color: var(--soft-blue);
    color: white;
    font-weight: 500;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
}

#btn-chrome:hover{
    background-color: white;
    color: var(--soft-blue);
    border: 2px solid var(--soft-blue);
    cursor: pointer;
}

#btn-firefox{
    background-color: white;
    box-shadow: 1px 0 8px hsl(231, 69%, 60%, 20%);
    color: var(--dark-gray);
    font-weight: 500;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
}

#btn-firefox:hover{
    border: 2px solid var(--dark-gray);
}

.simple-img{
    background-color: var(--soft-blue);
    border-radius: 0 0 0 100px;
    width: 50%;
    height: 300px;
    position: relative;
}

.simple-img img{
    width: 500px;
    position: absolute;
    top: -70px;
    left: -150px;
}

/* features */ 
.features{
    width: 100%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.features h2{
    color: var(--dark-gray);
}

.features p{
    color: var(--light-gray);
    width: 40%;
    margin: 0 auto;
    line-height: 25px;
}

.ul-features{
    display: flex;
    margin: 30px auto;
    border-bottom: 1.5px solid var(--light-gray);
    width: 40%; 
    justify-content: space-between;
    padding-left: 0;
}

.ul-features li{
    margin: 40px 20px;
}

.ul-features a{
    color: var(--light-gray);
    cursor: pointer;
}

.ul-features a:hover{
    color: var(--soft-red);
}

.ul-features a:focus{
    color: var(--dark-gray);
    border-bottom: 3px solid var(--soft-red);
    padding-bottom: 38px;
}

/* tab */
.tab-details{
    display: flex;
    flex-direction: row-reverse;
    margin: 150px 0 50px 0;
}

.tab-text{
    width: 40%;
    margin: 0 100px 0 0;
    text-align: left;
    margin-left: 100px;
}

.tab-text h3{
    font-size: 25px;
    color: var(--dark-grey);
}
.tab-text p{
    margin: 0 0;
    width: 100%;
    font-size: 14px;
    width: 70%;
    line-height: 25px;
}

.tab-img{
    width: 50%;
    position: relative;
    background-color: var(--soft-blue);
    height: 300px;
    border-radius: 0 0 100px 0;
}

.tab-img img{
    width: 500px;
    position: absolute;
    right: -40px;
    top: -150px;
}


.more-info {
    background-color: var(--soft-blue);
    color: white;
    border-radius: 5px;
    margin: 20px 0;
    border: none;
    padding: 10px 15px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 500;
}

.more-info:hover{
    background-color: white;
    color: var(--soft-blue);
    border: 2px solid var(--soft-blue);
}

#tab2Content, #tab3Content {
    display: none;
}

/* download */
.download-extension{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.download-header h2{
    color: var(--dark-grey);
}
.download-header p{
    color: var(--light-grey);
    width: 30%;
    margin: 0 auto;
}

.browsers{
    display: flex;
    margin: 100px auto;
    width: 60%;
    justify-content: space-between;
}

.browsers-details{
    border-radius: 10px;
    box-shadow: 0 0 10px hsl(231, 69%, 60%, 20%);
    background-image: url("/images/bg-dots.svg");
    background-repeat: no-repeat;
    background-position: 50% 265px;
}

.browsers-details img{
    width: 100px;
    margin: 30px 40px;
}

.browsers-details h4{
    color: var(--dark-grey);
}

.browsers-details p{
    color: var(--light-gray);
    font-size: 13px;
}

.add-install{
    color: white;
    background-color: var(--soft-blue);
    border-radius: 5px;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin: 40px 30px;
    font-weight: 500;
}

.add-install:hover{
    background-color: white;
    color: var(--soft-blue);
    border: 2px solid var(--soft-blue);
}

.firefox-brow{
    position: relative;
    top: 40px;
}
.opera-brow{
    position: relative;
    top: 80px;
}

/* FAQ */
.FAQ{
    width: 40%;
    margin: 100px auto;
    text-align: center;
}

.faq-header h2{
    font-weight: 500;
}

.faq-header p{
    color: var(--light-grey);
    width: 80%;
    margin: 0 auto;
    font-weight: 400;
}

.Q-A{
    margin: 50px 0;
}

.qa-box {
    border-top: 1px solid hsl(229, 8%, 60%, 30%);
    padding: 30px 0;
    position: relative;
}

.box4 {
    border-bottom: 1px solid hsl(229, 8%, 60%, 30%);

}

.questions {
    color: hsl(229, 31%, 21%);
    text-align: left;
    cursor: pointer;
}

.qa-box::after {
    content: '';
    background-image: url('/images/icon-arrow.svg');
    height: 12px;
    width: 18px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 35px;
    right: 15px;
    rotate: 0deg;
    transition: rotate 0.3s ease;
}

.questions:hover {
    color: var(--soft-red);
}

.answer {
    display: none;
}


.answer.unfold {
    color: var(--light-gray);
    text-align: left;
    display: block;
    margin: 30px 0 20px 0;
    line-height: 25px;
    width: 90%;
}

.qa-box.rotate::after {
    content: '';
    background-image: url('/images/icon-arrow.svg');
    height: 12px;
    width: 18px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    rotate: 180deg;
    top: 35px;
    right: 15px;
}

/* stay up*/
.stay-up{
    background-color: var(--soft-blue);
    text-align: center;
}

.stay-up p{
    color: white;
    padding-top: 50px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 14px;
}

.stay-up h2{
    font-size: 30px;
    color: white;
    width: 30%;
    margin: 30px auto;
}

.mail-box { 
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

#mail {
    width: 300px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 15px 20px;
}

.mail-input.open #mail {
    border: 2px solid var(--soft-red);
}

.mail-input.open::after {
    content: '';
    z-index: 10;
    background-image: url('/images/icon-error.svg');
    width: 20px;
    height: 20px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    top: 12px;
    right: 20px;
}

#mail::placeholder {
    color: var(--light-grey);
}

.contact-us {
    background-color: var(--soft-red);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.contact-us:hover {
    background-color: white;
    color: var(--soft-red);
    border: 2px solid;
}

.mail-input.open {
    position: relative;
}

.mail-input small {
    display: none;
}

.mail-input.open small {
    background-color:  var(--soft-red);
    color: white;
    position: absolute; 
    left: 0;
    top: 46px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    display: block;
}

/* footer */ 
.footer,
.footer-links,
.attribution,
.RS{
    background-color:var(--dark-gray);
}

.footer-links{
    width: 80%;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    padding: 30px 0;
}

.logo-img{
    display: flex;
    align-items: center;
}

.footer-link{
    display: flex;
}

.footer-link li{
    margin: 0 10px;
}

.footer-link a{
    text-transform: uppercase;
    color: white;
}

.footer-link a:hover{
    color: var(--soft-red);
}

.RS ul{
    display: flex;
}

.RS li{
    margin: 0 20px;
}

.RS i{
    color: white;
    font-size: 25px;
}

.RS i:hover{
    color: var(--soft-red);
}

.attribution {
    color: white;
    font-size: 11px;
    text-align: center;
    padding-bottom: 10px;
    margin: 0;
}

.attribution a {
    color: var(--soft-red);
}

/* media queries*/

/* header */

@media screen and (max-width: 900px){
    
    header{
        width: 100%;
        padding: 20px 0;
    }

    #white{
        display: block;
        margin: 35px 0;
        position: absolute;
        left: 30px;
    }

    #dark{
        margin-left: 35px;
    }

    #hambuger{
        display: flex;
        margin-right: 30px;
        cursor: pointer;
    }

    .cross{
        position: absolute;
        right: 30px;
        top: 40px;
        width: 20px;
        cursor: pointer;
    }

    .nav-header {
        height: 100vh;
        flex-direction: column;
        background-color: hsl(229, 31%, 21%, 90%);
        width: 100%;
        top: 0;
        z-index: 100;
        align-items: center;
        transition: top 0.3s ease;
        position: absolute;
    }
    
    .nav-header.close {
        top: -800px;
    }
    
    .ul-header {
        width: 100%;
        margin: 120px 0 30px 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    
    .ul-header li {
        border-top: 1px solid var(--light-grey);
        padding: 20px 0;
        width: 80%;
        margin: 0 auto;
        
    }
    
    .ul-header a {
        color: white;
        z-index: 100;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 22px;
        letter-spacing: 3px;
        margin: 0 auto;
    }
    
    #contact {
        border-bottom: 1px solid var(--light-grey);
        padding: 20px 0;
        width: 80%;
    }
    
    
    #login {
        color: white;
        background-color: transparent;
        width: 80%;
        border: 2px solid white;
        font-size: 22px;
    }
    
    #login:hover {
        color: white;
        background-color: transparent;
        width: 80%;
        border: 2px solid white;
        font-size: 22px;
    }
    
    .RS-header {
        display: block;
        margin-top: 120px;
    }
    
    .RS-header ul {
        display: flex;
        padding-left: 20px;
    }
    
    .RS-header li {
        list-style-type: none;
        margin: 0 20px;
        border: none;
    }
    
    .RS-header i {
        color: white;
        font-size: 30px;
    }
    
    .RS-header i:hover {
        color: var(--soft-red);
    }

/* SIMPLE BOOKMARK  */

.simple-bookmark {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "hero-text img-wrapper";
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 0 10% 70px;
}


.simple-img{
    width: 100%;
    right: -30px;
}


.simple-img img {
    grid-area: hero-text;
    width: 400px;
    top: -70px;
    left: -30px;
}

.simple-text {
    width: 100%;
    margin: 30px 0;
    text-align: center;
}

.simple-text h2 {
    width: 100%;
    font-size: 30px;
    margin: 20px 0;
}

.simple-text p {
    width: 90%;
    margin: 20px auto 40px 0;
    line-height: 30px;
}



/* FEATURES  */

.features {
    margin: 50px auto 0 auto;
}


.features p {
    width: 90%;
}

.ul-features  {
    width: 90%;
    border-bottom: none;
}

.ul-features li {
    border-top: 1px solid hsl(229, 8%, 60%, 40%);
    padding: 30px 0;
    margin: 5px;
}

.features span:hover {
    color: hsl(229, 31%, 21%);
    border-bottom: 5px solid hsl(0, 94%, 66%);
    padding-bottom: 26px;
    width: 50%;
}

#easy {
    margin: 5px;
    border-bottom: 1px solid hsl(229, 8%, 60%, 40%);
    padding: 30px 0;
}

.ul-features {
    flex-direction: column;
}

.tab-details {
    flex-direction: column-reverse;
    margin: 80px 0;
}

.tab-img {
    width: 80%;
    height: 200px;
}

.tab-img img {
    width: 300px;
    right: -20px;
    top: -50px;
}

.tab-text {
    width: 100%;
    margin: 30px 0;
    text-align: center;
}

.tab-text p {
    margin: 0 auto;
    font-size: 16px;
}


.more-info {
    display: none;
}


/* DOWNLOAD  */

.download-header p {
    width: 90%;
    line-height: 30px;
}

.browsers {
    flex-direction: column;
    margin: 50px auto;
    width: 70%;
}



/* FAQ  */

.FAQ {
    width: 90%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}

.faq-header p {
    line-height: 30px;
    width: 90%;
}

.Q-A {
    margin: 50px auto;
    width: 90%;
}

.questions, .answer {
    font-size: 14px;
}

.qa-box{
    background-image: url("images/icon-arrow.svg");
    height: 12px;
    width: 18px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 35px;
    right: 15px;
    rotate: 0deg;
    transition: rotate 0.3s ease;
}

.qa-box::after{
    content: "";
    background-image: url('images/icon-arrow.svg');
    height: 12px;
    width: 18px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 35px;
    right: 15px;
    rotate: 0deg;
    transition: rotate 0.3s ease;
}


.FAQ .more-info {
    display: block;
    text-align: center;
    width: 40%;
    margin: 30px auto;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 500;
}

.answer-unfold{
    color: var(--light-gray);
    text-align: left;
    display: block;
    margin: 30px 0 20px 0;
    line-height: 20px;
    width: 90%;
}

.answer-unfold::after{
    content: "";
    background-image: url('images/icon-arrow.svg');
    height: 12px;
    width: 18px;
    background-repeat: no-repeat;
    display: block;
    rotate: 180deg;
    top: 35px;
    right: 15px;
}

/* STAY UP  */

.stay-up h2 {
    width: 90%;
    font-size: 25px;
}

.mail-box {
    flex-direction: column;
    justify-content: center;
}

#mail {
    margin: 0 auto;
}

.mail-input.open {
    margin: 0 auto;
    position: relative;
}

.mail-input.open small {
    width: 300px;
    left: 0px;
    top: 48px;
    padding: 0 20px;
}

.contact-us {
    margin: 30px auto;
    padding: 15px 20px;

}

.mail-input.open::after {
    right: 20px;
}


/* FOOTER  */

.footer-links {
    flex-direction: column;
}

.logo-img {
    flex-direction: column;
    align-items: center;
}

.footer-link {
    flex-direction: column;
    padding-left: 0;
    text-align: center;
}


.footer-link li {
    margin: 20px 0;
}


.RS ul {
    padding-left: 0;
    justify-content: center;
}

}